@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap') ;

.App {
  align-items: center;
  background-color: hsl(163, 62%, 89%);
  display: flex;
  flex-direction: column;
  font-family: Nunito , sans-serif;
  justify-content: space-between;
  margin: 10px;
  margin-left: 80px;
  max-height: 1450px;
  padding: 20px;
  width: 1210px;
}

.profileImage {
  height: 100px;
  width: 100px;
}

.Header {
  align-items: center;
  background-color: hsl(163, 62%, 89%);
  border: 1px;
  color: hsl(201, 13%, 25%);
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-evenly;
  margin: 20px;
  width: 1300px;
}

a:link { text-decoration: none;}

.nagivation {
  align-items: center;
  background-color: hsl(196, 10%, 55%);
  border-radius: 1rem;
  display: flex;
  font-size: 25px;
  height: 110px;
  justify-content: space-evenly;
  width: 900px;
}

.loginArea {
  align-items: center;
  background-color: hsl(196, 10%, 55%);
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 1300px;
}

.Login {
  align-items: center;
  background-color: hsl(163, 62%, 89%);
  background-image: url('./noteMusic.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 260px;
  border-radius: 50%;
  color: hsl(201, 13%, 25%);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin: 10px;
  text-align: center;
  width: 400px;
}

.loginButton {
  margin: 20px;
}

.Search {
  align-items: center;
  background-color: hsl(163, 62%, 89%);
  border: 1px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  min-width: 910px;

}

.searchInput {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.loadedContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadedAlbums {
  align-items: center;
  background-color: hsl(196, 10%, 55%);
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  width: 1100px;
}

.searchAlbum {
  align-items: center;
  background-color: hsl(163, 62%, 89%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.Favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  padding: 10px;
  width: 1200px;
}

.favoritesSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-height: 2000px;
  padding: 20px;
}

.Album {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  text-align: center;
  width: 1200px;
}

.albumSection {
  display: flex;
  flex-flow: row wrap;
  height: 900px;
  justify-content: space-evenly;
  max-height: 1500px;
  padding: 20px;
}

.MusicCard {
  background-color: hsl(351, 79%, 71%);
  border-radius: 1rem;
  font-size: smaller;
  height: 150px;
  margin: 20px;
  text-align: center;
  width: 320px;
}

.Profile {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profileSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 1200px;
}

.userSection {
  align-items: center;
  background-color: hsl(196, 10%, 55%);
  border: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  min-height: 450px;
  padding: 20px;
  width: 300px;
}

.profileEdit {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profileEditForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  padding: 10px;
  text-align: center;
  width: 1200px;
}

.formInputs {
  background-color: hsl(196, 10%, 55%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 270px;
  padding: 10px;
}
